<!DOCTYPE>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Salvo</title>
</head>

<body>
 <div id="myVue" class="whole-page">
    <div class="log-in-row" v-if="state == 'mainState'">
       <p class="login-link"  v-on:click="state = 'loginState'">Log in</p>
       <p class="signup-link" v-on:click="state = 'signupstate'">Sign Up</p>
    </div>
     <div class="log-in-row" v-if="state == 'loginedState'">
         <span>{{currentPlayer.firstName}} {{currentPlayer.lastName}}</span>
         <button  v-on:click="logOut ">Log out</button>
     </div>
     <div class="info-row" v-if="state == 'mainState' || state == 'loginedState'">
     <table class="score-tbl">
         <tr>
             <th>Name</th>
             <th>Total</th>
             <th>Won</th>
             <th>Lost</th>
             <th>Tied</th>
         </tr>
         <tr v-for="score in scores">
             <td>{{score.firstName}} {{score.lastName}}</td>
             <td>{{score.totalScore}}</td>
             <td>{{score.totalWin}}</td>
             <td>{{score.totalLoss}}</td>
             <td>{{score.totalTie}}</td>
         </tr>
     </table>
     </div>
     <div class="info-row" v-if="state == 'mainState' || state == 'loginedState'">
         <table class="games-tbl">
             <tr>
                 <th>Game</th>
                 <th>Player1</th>
                 <th>Player2</th>
                 <th v-if="state == 'loginedState'">state</th>
             </tr>
             <tr v-for="game in games">
                 <td v-if="isCurrentUser(game.gamePlayers)== true"><a :href=" getGamePlayerLink(game.gamePlayers)">{{convertTimestamp(game.creationDate)}}</a></td>
                 <td v-else>{{convertTimestamp(game.creationDate)}}</td>
                 <td v-for="gamePlayer in game.gamePlayers" >{{gamePlayer.player.firstName}} {{gamePlayer.player.lastName}}</td>
                 <td v-if="game.gamePlayers.length == 1"></td>
                 <td v-if="game.gamePlayers.length == 0 || game.gamePlayers.length == 1  && state == 'loginedState'"> <button v-on:click="joinGame(game.id)">Join Game</button></td>
                 <td v-if=" game.gamePlayers.length == 2 && state == 'loginedState'">Full</td>
             </tr>
         </table>
     </div>
     <div class="create-btn-holder" v-if="state == 'loginedState'" v-on:click="createGame">
        <button>Create Game</button>
     </div>

     <div class="Log-in-form-holder" v-if="state == 'loginState'">
         <div class="Log-in-form">
             <div class="single-row" >
                 <label>Username:</label>
                 <input type=" text" v-model="username">
             </div>
             <div  class="single-row">
                 <label>Password:</label>
                 <input type=" text" v-model="password">
             </div>
             <div  class="single-row">
                <button v-on:click="logIn"> Log in</button>
             </div>
             <div  class="single-row">
                 <p class="signup-link" v-on:click="state = 'signupstate'">Sign Up</p>
             </div>
             <div class="single-row"> {{loginErrorMessage}}</div>
         </div>

     </div>
     <div class="sign-up-form-holder" v-if="state == 'signupstate'">
         <div class="sign-up-form">
             <div class="single-row" >

             </div>
             <div class="single-row" >
                 <label>Username:</label>
                 <input type=" text" v-model="username">
             </div>
             <div  class="single-row">
                 <label>Password:</label>
                 <input type=" text" v-model="password">
             </div>
             <div  class="single-row">
                 <button v-on:click="signUp">Sign Up</button>
             </div>

             <div class="single-row"> {{loginErrorMessage}}</div>
         </div>

     </div>
 </div>
<script src="games.js"></script>
</body>

</html>
