
.container{
  display: flex;
  justify-content: center;
}
.row{
    display: flex;
    width:100%;
}
.salvo-tbl{
    border-collapse: collapse;
     width: 30%;
     margin-top: 10%;
     margin-right:7%;
     text-align: center;
     font-family: -webkit-pictograph;

}
.cell{
    border: 1px solid lightgray;
    width: 10px;
    color: #336335;
    padding: 3%;
}
.score-tbl{
   border-collapse: collapse;
     font-family: Arial, Helvetica, sans-serif;
     width : 45%;
     margin-bottom: 7%;
}
.score-tbl td, th{
    border : 1px solid gray;
    padding : 1%;
}
.games-tbl{
 border-collapse: collapse;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5vw;
     width : 50%;
}
.games-tbl td, th{
    border : 1px solid gray;
    padding : 1%;
}
.whole-page{
    display :flex;
    width :100%;
    flex-wrap: wrap;
}
.log-in-row{
    display : flex;
    width: 100%;
}
.log-in-row button{
     width: 15%;
     margin: 5%;
}
.info-row{
    display:flex;
    width:100%;
}
.create-btn-holder{
     display:flex;
     width:100%;
     margin-top: 5%;
}
.Log-in-form-holder{
    display:flex;
    width:70%;
    justify-content: center;
}
.log-in-form{
    border : 1px solid lightgray;
    border-radius: 3%;
        width: 50%;
}
.single-row{
    display:flex;
    width:100%;
    margin-bottom :2%;
    justify-content: center;
}
.login-link{
    cursor: pointer;
    margin-left : 3%;
    hover: color: blue;
}
.signup-link{
    cursor: pointer;
     margin-left : 3%;
}

.login-link:hover , .signup-link:hover{
  color: blue;
}
