.gamesBody{
    max-width: 100%;
    margin: auto;
    font-family: sans-serif;
    background-image: url(/images/ship01.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    display: flex;
}
.whole-page{
    display :flex;
    width: 100%;
    margin:0px;
    flex-wrap: wrap;
    align-content: flex-start;
}
.main-box{
    display :flex;
    width :50%;
    flex-wrap: wrap;
    border-radius: 2%;
    background: #223c4ec2;
    margin-left: 5%;
    margin-top: -2%;
    justify-content: center;
}
.nav-bar{
    display: flex;
    width: 100%;
    background-color:#223c4ec2; 
    height: 53px;
    color: orange;
    font-family: fantasy;
    margin-bottom: 7%;
}
.nav-title-holder{
    display: flex;
    width: 40%;
    margin-top: 1%;
    margin-left: 2%;
}
.nav-title{
    display: flex;
    width: 60%;
    font-size: x-large;
    font-weight: bold;
}
.welcom-player{
    display: flex;
    width: 40%;
}
.nav-cell-holder{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    margin-top: 1.5%;
}
.nav-cell{
    display: flex;
    width: 25%;
    font-size: medium;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 7%;
    cursor: pointer;
}
.nav-cell:hover{
    color: #fef59f;
}
.title{
   display : flex;
    width: 100%;
    justify-content: center;
    color: orange;
    font-size: x-large;
    font-family: fantasy;
    padding-top: 5%; 
    margin-bottom: 7%;
}
.details{
    display : flex;
    width: 100%;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 10%;
    color: orange;
    text-align: justify;
}
.tip{
    display : flex;
    width: 100%;
    justify-content: center;
    color: orange;
    font-size: medium;
    margin-top: 10%;
}
.login-icon-holder{
    display : flex;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
    cursor: pointer;
}
.login-icon-holder img{
    width: 11%;
}
.login-icon-holder img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.login-note{
    display : flex;
    width: 100%;
    justify-content: center;
    margin-top: 1%;
    color: orange;
    margin-bottom: 10%;
    cursor: pointer;
}
.login-note:hover{
    color: #fef59f;
}
.container{
  display: flex;
  flex-flow: wrap;
}
.ships-grid-row{
     display: flex;
     width:100%;
     justify-content: center;
     margin-bottom: 7%;
}
.row{
    display: flex;
    width:100%;
}
.salvo-tbl{
    border-collapse: collapse;
     width: 30%;
     margin-right:7%;
     text-align: center;
     font-family: -webkit-pictograph;
}
.cell{
    border: 1px solid lightgray;
    width: 10px;
    color: #336335;
    padding: 3%;
}
.ship-type-holder{
    display: flex;
    width:100%;
    flex-flow: wrap;

}
.ship-type-row{
    display:flex;
    width:100%;
    margin: 1%;
}
.done-btn-row{
      display: flex;
      width:100%;
}
.done-btn-row button{
    width:20%;
    margin:5%;
}
.score-tbl{
    width : 65%;
    margin-bottom: 7%;
    margin-top: 2%;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.score-tbl td{
    padding : 1%;

}
.games-tbl{
     width : 80%;
     margin-bottom: 10%;
}
.games-tbl td{
    font-size: 1.1vw;
}
.games-tbl td,th{
    padding-top : 3%;
    padding-bottom: 3%;
    margin-bottom: 10%;
    text-align: left;
    border-bottom: 1px solid gray;
    color: orange;
    text-align: center;
}
.games-tbl a {
  color: #f5821f;
  text-decoration: underline;
}
.games-tbl a:hover{
   color: #fef59f;
}
.join-btn{
    background-color: orange;
    width: 65%;
    border:none;
    color: #223c4ec2;
    font-size: 1.1vw;
    padding-top: 3px;
    padding-bottom: 3px;
}
.create-btn{
    background-color: orange;
    width: 50%;
    border:none;
    color: #223c4ec2;
    font-size: 1.1vw;
    padding-top: 3px;
    padding-bottom: 3px;
}
.info-row{
    display:flex;
    width:100%;
    justify-content: center;
}
.create-btn-holder{
     display:flex;
     width:100%;
     margin-bottom: 10%;
     justify-content: center;
}
.Log-in-form-holder{
    display:flex;
    width:70%;
    justify-content: center;
}
.log-in-form{
    width: 75%;
}
.single-row{
    display:flex;
    width:100%;
    margin-bottom :2%;
    justify-content: center;
}
.single-row input{
    border: none;
    border-bottom: 1px solid orange;
    box-sizing: border-box;
    background: border-box;
    color: orange;
    width: 70%;
    font-size: large;
    margin-bottom: 10%
}
::placeholder {
  color: #f79b3d82;
  opacity: 1; /* Firefox */
}
.login-btn{
    border :none;
    background-color: orange;
    color: #223c4ec2;
    width: 70%;
    font-size: medium;
    margin-bottom: 5%;
}
.signup-link{
    color: orange;
    font-size: medium;
    text-decoration: underline;
    margin-bottom: 20%;
}
.signup-link:hover{
    color: #fef59f;
}
.warning{
    color:orange;
    margin-bottom: 5%
}
.salvo-holder{
    display: flex;
    width:100%;
    flex-flow: wrap;
}
.salvo-row{
   display:flex;
   width:100%;
   margin: 1%;
}
.salvo-row span{
    margin-right : 1%;
}
.result_holder{
     display: flex;
     width:100%;
     flex-flow: wrap;
}
.player-result{
    
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5vw;
     width : 40%;
}
.player-result td,th{
     
      padding : 1%;
}